<html>

<head>
  <title>cHiaRa</title>
</head>

<body>

  <div>
    <h1>cHiaRa</h1>
    <h3>...è la nascita di un nuovo zampy?</h3>
    <h5><em>(e sarebbe l'ora!!)</em></h5>
  </div>

  <div>
    <p>Hi there!</p>
    <p>It works :)</p>
    <p>per vedere altre cose navigate pure su:
      <ul>
        <li><a href="http://www.zampychia.it">zampychia.it</a></li>
        <li><a href="http://lamarchesinavaleria.altervista.org">lamarchesinavaleria</a></li>
      </ul>
    </p>
  </div>

</body>

</html>
