{% extends 'blog/base.html' %}

{% block content %}

<body>

  <div>
    <p>Hi there!</p>
    <p>It works :)</p>
  </br>
    <p>per vedere altre cose navigate pure su:
      <ul>
        <li><a href="http://www.zampychia.it">zampychia.it</a></li>
        <li><a href="http://lamarchesinavaleria.altervista.org">lamarchesinavaleria</a></li>
      </ul>
    </p>
  </div>
</br>
</br>

  <div>
    {{ posts }}
  </div>
</br>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>

{% endblock content %}
